<a href="https://colab.research.google.com/github/songhyeonjun/python-data/blob/master/colab_test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

csv파일을 colab linum에 업로드
df로 읽어보세여

csv파일을 google dirve에 업로드
colab + google drive mount
df2로 읽기

In [6]:
import pandas as pd
import numpy as np
from google.colab import drive

In [4]:
df = pd.read_csv('/content/scientists.csv')

In [12]:
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [9]:
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
df2 = pd.read_csv('/content/drive/MyDrive/python-data/scientists.csv')

In [11]:
df2

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [13]:
dates = pd.date_range('20190301', periods=6) # pandas 안에 date이용 date_range('시작날짜' periods=출력일수)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
np.random.randn(6,4)

array([[ 0.6978368 ,  0.24105215, -2.5088444 ,  0.21672372],
       [-1.46149254,  0.42242511,  2.39094573, -0.14731991],
       [-0.35346692,  0.42225662,  2.07567474,  1.36117297],
       [-0.24894123,  0.06658864,  0.57882536,  0.21484485],
       [-1.76305285, -0.01232757, -0.11216904, -0.21632542],
       [ 0.69316861, -0.04651359, -0.6297686 , -0.05224574]])

In [16]:
df = pd.DataFrame(np.random.randn(6,4), columns=['A', 'B', 'C', 'D'])
# df = pd.DataFrame(ndarray(values), columns=['컬럼명1', '컬럼명2'], ...)
df

          A         B         C         D
0  0.392418 -1.144766 -1.015352  1.723759
1  1.706479  0.303764  1.380943 -1.025924
2 -1.073947 -0.171654  0.039766 -0.724446
3 -1.789362  1.363739 -0.646558  0.171631
4  0.004400  1.303316  0.766036  1.110106
5 -0.336915  0.140880 -0.576376  0.091341

In [17]:
from pandas._libs import index
df2 = pd.DataFrame(data = np.random.randn(6,4), 
                   columns=['A', 'B', 'C', 'D'], 
                   index = dates)
df2

                   A         B         C         D
2019-03-01 -0.089049  1.541125 -1.643112  0.470639
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-06  0.089086 -0.722525 -0.840127  1.320301

In [18]:
type(df2)

pandas.core.frame.DataFrame

In [19]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
df2.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
in1 = df2.index
in1

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
in1[0]

Timestamp('2019-03-01 00:00:00', freq='D')

In [23]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [24]:
in2 = df.index
in2

RangeIndex(start=0, stop=6, step=1)

In [26]:
in2[2] 
# 리스트를 가지고 만든 여러가지 객체들은 리스트처럼 똑같이 다루어도 크게 문제가 발생하지 않는다.

2

In [27]:
ts1 = in1[0]
ts1

Timestamp('2019-03-01 00:00:00', freq='D')

In [28]:
str(ts1)

'2019-03-01 00:00:00'

In [30]:
df['A']

0    0.392418
1    1.706479
2   -1.073947
3   -1.789362
4    0.004400
5   -0.336915
Name: A, dtype: float64

In [31]:
type(df['A'])

pandas.core.series.Series

In [32]:
a = df['A']
a

0    0.392418
1    1.706479
2   -1.073947
3   -1.789362
4    0.004400
5   -0.336915
Name: A, dtype: float64

In [33]:
a[0]

0.39241826094993154

In [34]:
df2.values

array([[-0.08904907,  1.54112496, -1.6431115 ,  0.47063945],
       [ 1.39429275, -0.501206  ,  0.60623103, -0.8397978 ],
       [-0.73720588,  0.50497553,  1.24413748,  1.55454584],
       [-0.81944941,  0.17943361, -0.89121805,  1.09041915],
       [-0.44295732, -0.01818393,  0.88176663,  0.71197155],
       [ 0.08908588, -0.7225249 , -0.8401269 ,  1.32030144]])

In [35]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.100881  0.163937 -0.107054  0.718013
std    0.813639  0.809270  1.168250  0.858980
min   -0.819449 -0.722525 -1.643112 -0.839798
25%   -0.663644 -0.380450 -0.878445  0.530972
50%   -0.266003  0.080625 -0.116948  0.901195
75%    0.044552  0.423590  0.812883  1.262831
max    1.394293  1.541125  1.244137  1.554546

In [36]:
df2.sort_index()

                   A         B         C         D
2019-03-01 -0.089049  1.541125 -1.643112  0.470639
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-06  0.089086 -0.722525 -0.840127  1.320301

In [42]:
df2.sort_index(ascending=True)

                   A         B         C         D
2019-03-01 -0.089049  1.541125 -1.643112  0.470639
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-06  0.089086 -0.722525 -0.840127  1.320301

In [41]:
df2.sort_values(by='A', ascending=False)

                   A         B         C         D
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-06  0.089086 -0.722525 -0.840127  1.320301
2019-03-01 -0.089049  1.541125 -1.643112  0.470639
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-04 -0.819449  0.179434 -0.891218  1.090419

In [44]:
df3 = df2.copy()
df3

                   A         B         C         D
2019-03-01 -0.089049  1.541125 -1.643112  0.470639
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-06  0.089086 -0.722525 -0.840127  1.320301

In [47]:
# df3를 B로 정렬해주세요!
# df3의 내용이 변경되어야 합니다.
# 변경된 df3에서 b, c만 추출하여 df4로 저장
# df3의 첫번째 행, 첫번째 열의 값을 1로 수정
# df3에서 0행에서 2행까지 추출
# df3에서 2019-03-01, A열의 값을 추출
# df3에서 2019-03-01, A열, B열의 값을 추출
# df3에서 A열의 전체 행을 추출
# df3에서 A, C열의 전체 행을 추출
# df3에서 0번 행렬 추출
# df3의 행렬의 크기를 추출
# df3에서 5행 전체 전체 열 추출
# df3에서 4행부터 추출
# df3에서 0, 3행, 1부터 2열까지 추출
# df3에서 1,2,5행, 1,3열 추출

                   A         B         C         D
2019-03-06  0.089086 -0.722525 -0.840127  1.320301
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-01 -0.089049  1.541125 -1.643112  0.470639

In [ ]:
# df3를 B로 정렬해주세요!
df3.sort_values(by='B')

In [50]:
# df3의 내용이 변경되어야 합니다.
df3 = df3.sort_values(by='B')
df3

                   A         B         C         D
2019-03-06  0.089086 -0.722525 -0.840127  1.320301
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-01 -0.089049  1.541125 -1.643112  0.470639

In [55]:
# 변경된 df3에서 b, c만 추출하여 df4로 저장
df4 = df3[['B', 'C']]
df4

                   B         C
2019-03-06 -0.722525 -0.840127
2019-03-02 -0.501206  0.606231
2019-03-05 -0.018184  0.881767
2019-03-04  0.179434 -0.891218
2019-03-03  0.504976  1.244137
2019-03-01  1.541125 -1.643112

In [71]:
# df3의 첫번째 행, 첫번째 열의 값을 1로 수정
df3.values[0, 0] = 1
df3

                   A         B         C         D
2019-03-06  1.000000 -0.722525 -0.840127  1.320301
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-05 -0.442957 -0.018184  0.881767  0.711972
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-01 -0.089049  1.541125 -1.643112  0.470639

In [140]:
# df3에서 0행에서 2행까지 추출
df3.iloc[:3] # df3.iloc[추출범위행] => 행으로 취급

                   A         B         C         D
2019-03-06  1.000000 -0.722525 -0.840127  1.320301
2019-03-02  1.394293 -0.501206  0.606231 -0.839798
2019-03-05 -0.442957 -0.018184  0.881767  0.711972

In [85]:
# df3에서 2019-03-01, A열의 값을 추출
df3.loc['2019-03-01', 'A']

2019-03-01   -0.089049
Name: A, dtype: float64

In [86]:
# df3에서 2019-03-01, A열, B열의 값을 추출
df3.loc['2019-03-01', 'A':'B']

                   A         B
2019-03-01 -0.089049  1.541125

In [115]:
# df3에서 A열의 전체 행을 추출
df3.loc[:,'A']

2019-03-06    1.000000
2019-03-02    1.394293
2019-03-05   -0.442957
2019-03-04   -0.819449
2019-03-03   -0.737206
2019-03-01   -0.089049
Name: A, dtype: float64

In [116]:
# df3에서 A, C열의 전체 행을 추출
df3.loc[:,['A','C']]
# loc, iloc의 결과가 1행인 경우, Series로 리턴
# loc, iloc의 결과가 여러행인 경우, DataFrame으로 리턴

                   A         C
2019-03-06  1.000000 -0.840127
2019-03-02  1.394293  0.606231
2019-03-05 -0.442957  0.881767
2019-03-04 -0.819449 -0.891218
2019-03-03 -0.737206  1.244137
2019-03-01 -0.089049 -1.643112

In [151]:
# A열을 추출하여 2번째 값을 추출
df3.loc[:,'A'][1]

1.394292746996635

In [177]:
# A열과 C열을 추출하여 1번째 행, 1번째 열의 값을 추출
df3.loc[:,['A','C']].iloc[1,1]

0.6062310276922322

In [136]:
# df3에서 0번 행렬 추출
df3.iloc[0, 0]

1.0

In [141]:
# df3의 행렬의 크기를 추출
df3.size

24

In [165]:
# df3에서 5행 전체 전체 열 추출
df.iloc[5]

A   -0.336915
B    0.140880
C   -0.576376
D    0.091341
Name: 5, dtype: float64

In [167]:
# df3에서 4행부터 추출
df3.iloc[3:] # 0 ~ 5

                   A         B         C         D
2019-03-04 -0.819449  0.179434 -0.891218  1.090419
2019-03-03 -0.737206  0.504976  1.244137  1.554546
2019-03-01 -0.089049  1.541125 -1.643112  0.470639

In [176]:
# df3에서 0, 3행, 1부터 2열까지 추출
df3.iloc[[0,3],[1,2]]

                   B         C
2019-03-06 -0.722525 -0.840127
2019-03-04  0.179434 -0.891218

In [178]:
# df3에서 1,2,5행 1,3열 추출
df3.iloc[[1,2,5], [1,3]]

                   B         D
2019-03-02 -0.501206 -0.839798
2019-03-05 -0.018184  0.711972
2019-03-01  1.541125  0.470639

In [179]:
np.random.randint(20)

16

In [181]:
np.random.randint(20)

0

In [192]:
for _ in range(10):
  print(np.random.randint(5))

0
1
1
4
1
0
4
3
0
4

In [193]:
for _ in range(10):
  print(random.randint(1, 5))

4
1
5
3
2
1
5
2
1
4