In [1]:
import pandas as pd
import numpy as np

In [2]:
refugee = pd.read_csv("./asylum_seekers.csv", low_memory=False)
refugee

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129716,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129717,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [3]:
col = ['망명년도', '망명지역', '실거주지', '난민 지위', '총 보류 누적 사람 수(시작 연도 기준으로 시작)', 
           '유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)', '전쟁 난민 신청 수', '전쟁 난민 결정 수',
           '전쟁 난민 보류 수', '전쟁 난민 거부 수', '전쟁 난민 철회 수', '전쟁 난민 인원 현황',
          '총 보류 누적 사람 수(시작 연도 기준으로 종료)', '유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)']
col

['망명년도',
 '망명지역',
 '실거주지',
 '난민 지위',
 '총 보류 누적 사람 수(시작 연도 기준으로 시작)',
 '유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)',
 '전쟁 난민 신청 수',
 '전쟁 난민 결정 수',
 '전쟁 난민 보류 수',
 '전쟁 난민 거부 수',
 '전쟁 난민 철회 수',
 '전쟁 난민 인원 현황',
 '총 보류 누적 사람 수(시작 연도 기준으로 종료)',
 '유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)']

In [4]:
refugee = pd.read_csv("./asylum_seekers.csv",header=1, low_memory=False, names=col)
refugee

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129715,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129716,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129718,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [5]:
refugee = refugee.replace('*',0)

In [6]:
refugee2 = refugee.fillna(0)
refugee2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [7]:
refugee2 = refugee2.astype({'전쟁 난민 인원 현황':'int'})

In [8]:
refugee_year = refugee2[['망명년도','전쟁 난민 인원 현황']]
refugee_year

        망명년도  전쟁 난민 인원 현황
0       2000            0
1       2000         1186
2       2000          250
3       2000          273
4       2000          687
...      ...          ...
129714  2016           28
129715  2016           31
129716  2016           94
129717  2016         7942
129718  2016            0

[129719 rows x 2 columns]

In [9]:
p_refugee = [] # p_refugee : 총 전쟁 난민 인원

In [10]:
refugee_2000 = refugee_year[refugee_year['망명년도'] == 2000]
p_refugee.append(np.sum(refugee_2000['전쟁 난민 인원 현황']))

In [11]:
refugee_2001 = refugee_year[refugee_year['망명년도'] == 2001]
p_refugee.append(np.sum(refugee_2001['전쟁 난민 인원 현황']))
p_refugee

[1090341, 936260]

In [12]:
refugee_2002 = refugee_year[refugee_year['망명년도'] == 2002]
p_refugee.append(np.sum(refugee_2002['전쟁 난민 인원 현황']))
p_refugee

[1090341, 936260, 1010189]

In [13]:
refugee_2003 = refugee_year[refugee_year['망명년도'] == 2003]
p_refugee.append(np.sum(refugee_2003['전쟁 난민 인원 현황']))

In [14]:
refugee_2004 = refugee_year[refugee_year['망명년도'] == 2004]
p_refugee.append(np.sum(refugee_2004['전쟁 난민 인원 현황']))

In [15]:
refugee_2005 = refugee_year[refugee_year['망명년도'] == 2005]
p_refugee.append(np.sum(refugee_2005['전쟁 난민 인원 현황']))

In [16]:
refugee_2006 = refugee_year[refugee_year['망명년도'] == 2006]
p_refugee.append(np.sum(refugee_2006['전쟁 난민 인원 현황']))

In [17]:
refugee_2007 = refugee_year[refugee_year['망명년도'] == 2007]
p_refugee.append(np.sum(refugee_2007['전쟁 난민 인원 현황']))

In [18]:
refugee_2008 = refugee_year[refugee_year['망명년도'] == 2008]
p_refugee.append(np.sum(refugee_2008['전쟁 난민 인원 현황']))

In [19]:
refugee_2009 = refugee_year[refugee_year['망명년도'] == 2009]
p_refugee.append(np.sum(refugee_2009['전쟁 난민 인원 현황']))

In [20]:
refugee_2010 = refugee_year[refugee_year['망명년도'] == 2010]
p_refugee.append(np.sum(refugee_2010['전쟁 난민 인원 현황']))

In [21]:
refugee_2011 = refugee_year[refugee_year['망명년도'] == 2011]
p_refugee.append(np.sum(refugee_2011['전쟁 난민 인원 현황']))

In [22]:
refugee_2012 = refugee_year[refugee_year['망명년도'] == 2012]
p_refugee.append(np.sum(refugee_2012['전쟁 난민 인원 현황']))

In [23]:
refugee_2013 = refugee_year[refugee_year['망명년도'] == 2013]
p_refugee.append(np.sum(refugee_2013['전쟁 난민 인원 현황']))

In [24]:
refugee_2014 = refugee_year[refugee_year['망명년도'] == 2014]
p_refugee.append(np.sum(refugee_2014['전쟁 난민 인원 현황']))

In [25]:
refugee_2015 = refugee_year[refugee_year['망명년도'] == 2015]
p_refugee.append(np.sum(refugee_2015['전쟁 난민 인원 현황']))

In [26]:
refugee_2016 = refugee_year[refugee_year['망명년도'] == 2016]
p_refugee.append(np.sum(refugee_2016['전쟁 난민 인원 현황']))

In [27]:
p_refugee

[1090341,
 936260,
 1010189,
 1003439,
 887490,
 830469,
 692008,
 645072,
 702231,
 761555,
 725430,
 766917,
 903053,
 879758,
 1378629,
 2192229,
 2389897]

In [28]:
total_p_refugee = pd.DataFrame(data = p_refugee,
                               index=['2000', '2001', '2002', '2003', '2004', '2005',
                                    '2006', '2007', '2008', '2009', '2010', '2011',
                                    '2012', '2013', '2014', '2015', '2016'],
                               columns=['전쟁 난민 총 인원'])
total_p_refugee

      전쟁 난민 총 인원
2000     1090341
2001      936260
2002     1010189
2003     1003439
2004      887490
2005      830469
2006      692008
2007      645072
2008      702231
2009      761555
2010      725430
2011      766917
2012      903053
2013      879758
2014     1378629
2015     2192229
2016     2389897