In [436]:
import pandas as pd #데이터분석용 자료 구조를 핸들링하는 라이브러리
import numpy as np
import seaborn as sns #시각화할 때 사용하는 부가적인 라이브러리

In [437]:
import matplotlib.pyplot as plt

#이거 임포트 해줘야 차트에서 오류안남. 한글파일때문에 오류나는거.
from matplotlib import rc, font_manager
import matplotlib.font_manager as fm

fm._rebuild()
fm.get_fontconfig_fonts()

# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../NanumGothic.ttf'#윈도우안에있는 폰트파일주소.

font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)

In [438]:
df1 = pd.read_csv('asylum_seekers.csv')
df1

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129716,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129717,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [439]:
col = ['망명년도', '망명지역', '실거주지', '난민 지위', '총 보류 누적 사람 수(시작 연도 기준으로 시작)', 
           '유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)', '전쟁 난민 신청 수', '전쟁 난민 결정 수',
           '전쟁 난민 보류 수', '전쟁 난민 거부 수', '전쟁 난민 철회 수', '전쟁 난민 인원 현황',
          '총 보류 누적 사람 수(시작 연도 기준으로 종료)', '유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)']
col

['망명년도',
 '망명지역',
 '실거주지',
 '난민 지위',
 '총 보류 누적 사람 수(시작 연도 기준으로 시작)',
 '유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)',
 '전쟁 난민 신청 수',
 '전쟁 난민 결정 수',
 '전쟁 난민 보류 수',
 '전쟁 난민 거부 수',
 '전쟁 난민 철회 수',
 '전쟁 난민 인원 현황',
 '총 보류 누적 사람 수(시작 연도 기준으로 종료)',
 '유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)']

In [440]:
df2 = pd.read_csv('asylum_seekers.csv',
                     header=1,
                     encoding = 'UTF8',
                     names=col
                    )
df2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129715,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129716,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129718,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [441]:
df2['전쟁 난민 인원 현황']

0          NaN
1         1186
2          250
3          273
4          687
          ...
129714      28
129715      31
129716      94
129717    7942
129718       *
Name: 전쟁 난민 인원 현황, Length: 129719, dtype: object

In [442]:
df2 = df2.fillna(0)

In [443]:
df2 = df2.replace('*', 0)

In [444]:
df2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [445]:
df2 = df2.astype({'전쟁 난민 인원 현황':'int'})

In [446]:
df2.dtypes

망명년도                              int64
망명지역                             object
실거주지                             object
난민 지위                            object
총 보류 누적 사람 수(시작 연도 기준으로 시작)      object
유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)    object
전쟁 난민 신청 수                       object
전쟁 난민 결정 수                       object
전쟁 난민 보류 수                       object
전쟁 난민 거부 수                       object
전쟁 난민 철회 수                       object
전쟁 난민 인원 현황                       int32
총 보류 누적 사람 수(시작 연도 기준으로 종료)      object
유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)    object
dtype: object

In [447]:
a = []
for i in range(2000, 2017) :
    a.append(df2[df2['망명년도'] == i]['전쟁 난민 인원 현황'].sum())
a

[1090341,
 936260,
 1010189,
 1003439,
 887490,
 830469,
 692008,
 645072,
 702231,
 761555,
 725430,
 766917,
 903053,
 879758,
 1378629,
 2192229,
 2389897]

In [448]:
total_p_refugee = pd.DataFrame(data = a,
                               index=['2000', '2001', '2002', '2003', '2004', '2005',
                                    '2006', '2007', '2008', '2009', '2010', '2011',
                                    '2012', '2013', '2014', '2015', '2016'],
                               columns=['전쟁 난민 총 인원'])
total_p_refugee.index.name = '연도'
total_p_refugee

      전쟁 난민 총 인원
연도
2000     1090341
2001      936260
2002     1010189
2003     1003439
2004      887490
2005      830469
2006      692008
2007      645072
2008      702231
2009      761555
2010      725430
2011      766917
2012      903053
2013      879758
2014     1378629
2015     2192229
2016     2389897

In [449]:
df2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [450]:
df2[df2['난민 지위'].str.contains('G', na=False)]

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
7,2000,Tajikistan,Afghanistan,G / FI,2172,30,165,112,0,0,1992,2104,233,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [451]:
df2[df2['난민 지위'] == 'G / FI']['전쟁 난민 인원 현황'].sum()

8066072

In [452]:
df2['난민 지위'] == 'G / FI'

0          True
1         False
2         False
3         False
4          True
          ...
129714    False
129715    False
129716    False
129717     True
129718     True
Name: 난민 지위, Length: 129719, dtype: bool

In [453]:
dup = df2.drop_duplicates(['난민 지위'])
len(dup)

27

In [466]:
df2[['난민 지위', '전쟁 난민 인원 현황']]

         난민 지위  전쟁 난민 인원 현황
0       G / FI            0
1       U / FI         1186
2       G / EO          250
3       G / IN          273
4       G / FI          687
...        ...          ...
129714  G / IN           28
129715  G / EO           31
129716  G / AR           94
129717  G / FI         7942
129718  G / FI            0

[129719 rows x 2 columns]

In [455]:
d = d.pivot_table(index='난민 지위', aggfunc=np.sum)
d

        전쟁 난민 인원 현황
난민 지위
0                 0
G / AR      2094663
G / BL        49205
G / CA        35924
G / EO       810842
G / FA      1120731
G / FI      8066072
G / IN       972345
G / JR       292156
G / NA      1686418
G / RA       408631
G / SP         6110
G / TA       448241
G / TP         1749
G / TR           18
G / ar          915
G / fi         4686
J / AR         1072
J / FA        19689
J / FI       180644
J / RA            5
U / AR        64642
U / FA       235657
U / FI      1285612
U / JR          770
U / NA          325
U / RA         7845

In [456]:
total_p_refugee.to_csv('연도별 총 난민인원.csv', encoding='UTF-8-sig')

In [457]:
d.to_csv('난민 지위별 총 난민 인원.csv', encoding='UTF-8-sig')

In [458]:
df2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [459]:
refugee2 = df2.astype({'전쟁 난민 인원 현황':'int'})
refugee2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [460]:
refugee_decision = refugee2[['망명년도', '전쟁 난민 신청 수', '전쟁 난민 결정 수', '전쟁 난민 철회 수']]
refugee_decision = refugee_decision.astype({'전쟁 난민 신청 수':'int', '전쟁 난민 결정 수':'int', '전쟁 난민 철회 수':'int',})
refugee_decision

        망명년도  전쟁 난민 신청 수  전쟁 난민 결정 수  전쟁 난민 철회 수
0       2000           0           0           0
1       2000        2156         747         327
2       2000         225         151          68
3       2000         218         182          40
4       2000         662         275           0
...      ...         ...         ...         ...
129714  2016         229          16          10
129715  2016          12           0          23
129716  2016           0           0          94
129717  2016        7964          73           0
129718  2016           0           0           0

[129719 rows x 4 columns]

In [461]:
decision_refugee1= refugee_decision.groupby('망명년도')['전쟁 난민 신청 수'].sum()
decision_refugee1 # type = Series

망명년도
2000    1093040
2001     918156
2002     948536
2003     840236
2004     681159
2005     674005
2006     607461
2007     643465
2008     864942
2009     935603
2010     830964
2011     864232
2012     923155
2013    1061074
2014    1616565
2015    3041199
2016    2080600
Name: 전쟁 난민 신청 수, dtype: int32

In [462]:
decision_refugee2= refugee_decision.groupby('망명년도')['전쟁 난민 결정 수'].sum()
decision_refugee2 # type = Series

망명년도
2000    203397
2001    167763
2002    161879
2003    146551
2004    128187
2005    153167
2006    141285
2007    149455
2008    156312
2009    228970
2010    175134
2011    172566
2012    210851
2013    213722
2014    277569
2015    438725
2016    557208
Name: 전쟁 난민 결정 수, dtype: int32

In [463]:
decision_refugee3= refugee_decision.groupby('망명년도')['전쟁 난민 철회 수'].sum()
decision_refugee3 # type = Series

망명년도
2000     249787
2001     245252
2002     262013
2003     285591
2004     266984
2005     263413
2006     193252
2007     174443
2008     155366
2009     161398
2010     151044
2011     189746
2012     203247
2013     217031
2014     335527
2015    1039394
2016     909062
Name: 전쟁 난민 철회 수, dtype: int32

In [464]:
total_d_refugee = pd.concat([decision_refugee1, decision_refugee2, decision_refugee3], axis=1)
total_d_refugee

      전쟁 난민 신청 수  전쟁 난민 결정 수  전쟁 난민 철회 수
망명년도
2000     1093040      203397      249787
2001      918156      167763      245252
2002      948536      161879      262013
2003      840236      146551      285591
2004      681159      128187      266984
2005      674005      153167      263413
2006      607461      141285      193252
2007      643465      149455      174443
2008      864942      156312      155366
2009      935603      228970      161398
2010      830964      175134      151044
2011      864232      172566      189746
2012      923155      210851      203247
2013     1061074      213722      217031
2014     1616565      277569      335527
2015     3041199      438725     1039394
2016     2080600      557208      909062

In [465]:
total_d_refugee.to_csv('total_d_refugee.csv', encoding='UTF-8-sig')