In [1]:
import pandas as pd
import numpy as np

In [2]:
refugee = pd.read_csv("./asylum_seekers.csv", low_memory=False)

In [3]:
col = ['망명년도', '망명지역', '실거주지', '난민 지위', '총 보류 누적 사람 수(시작 연도 기준으로 시작)', 
           '유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)', '전쟁 난민 신청 수', '전쟁 난민 결정 수',
           '전쟁 난민 보류 수', '전쟁 난민 거부 수', '전쟁 난민 철회 수', '전쟁 난민 인원 현황',
          '총 보류 누적 사람 수(시작 연도 기준으로 종료)', '유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)']

In [4]:
refugee = pd.read_csv("./asylum_seekers.csv",header=1, low_memory=False, names=col)

In [5]:
refugee = refugee.replace('*',0)
refugee2 = refugee.fillna(0)
refugee2 = refugee2.astype({'전쟁 난민 인원 현황':'int'})
refugee2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [6]:
refugee_decision = refugee2[['망명년도', '전쟁 난민 신청 수', '전쟁 난민 결정 수', '전쟁 난민 철회 수']]
refugee_decision = refugee_decision.astype({'전쟁 난민 신청 수':'int', '전쟁 난민 결정 수':'int', '전쟁 난민 철회 수':'int',})
refugee_decision

        망명년도  전쟁 난민 신청 수  전쟁 난민 결정 수  전쟁 난민 철회 수
0       2000           0           0           0
1       2000        2156         747         327
2       2000         225         151          68
3       2000         218         182          40
4       2000         662         275           0
...      ...         ...         ...         ...
129714  2016         229          16          10
129715  2016          12           0          23
129716  2016           0           0          94
129717  2016        7964          73           0
129718  2016           0           0           0

[129719 rows x 4 columns]

In [7]:
decision_refugee1= refugee_decision.groupby('망명년도')['전쟁 난민 신청 수'].sum()
decision_refugee1 # type = Series

망명년도
2000    1093040
2001     918156
2002     948536
2003     840236
2004     681159
2005     674005
2006     607461
2007     643465
2008     864942
2009     935603
2010     830964
2011     864232
2012     923155
2013    1061074
2014    1616565
2015    3041199
2016    2080600
Name: 전쟁 난민 신청 수, dtype: int32

In [8]:
decision_refugee2= refugee_decision.groupby('망명년도')['전쟁 난민 결정 수'].sum()
decision_refugee2 # type = Series

망명년도
2000    203397
2001    167763
2002    161879
2003    146551
2004    128187
2005    153167
2006    141285
2007    149455
2008    156312
2009    228970
2010    175134
2011    172566
2012    210851
2013    213722
2014    277569
2015    438725
2016    557208
Name: 전쟁 난민 결정 수, dtype: int32

In [9]:
decision_refugee3= refugee_decision.groupby('망명년도')['전쟁 난민 철회 수'].sum()
decision_refugee3 # type = Series

망명년도
2000     249787
2001     245252
2002     262013
2003     285591
2004     266984
2005     263413
2006     193252
2007     174443
2008     155366
2009     161398
2010     151044
2011     189746
2012     203247
2013     217031
2014     335527
2015    1039394
2016     909062
Name: 전쟁 난민 철회 수, dtype: int32

In [10]:
total_d_refugee = pd.concat([decision_refugee1, decision_refugee2, decision_refugee3], axis=1)
total_d_refugee

      전쟁 난민 신청 수  전쟁 난민 결정 수  전쟁 난민 철회 수
망명년도
2000     1093040      203397      249787
2001      918156      167763      245252
2002      948536      161879      262013
2003      840236      146551      285591
2004      681159      128187      266984
2005      674005      153167      263413
2006      607461      141285      193252
2007      643465      149455      174443
2008      864942      156312      155366
2009      935603      228970      161398
2010      830964      175134      151044
2011      864232      172566      189746
2012      923155      210851      203247
2013     1061074      213722      217031
2014     1616565      277569      335527
2015     3041199      438725     1039394
2016     2080600      557208      909062

In [11]:
total_d_refugee.to_csv('total_d_refugee.csv', encoding='UTF-8-sig')