In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('asylum_seekers.csv')
df1

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129716,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129717,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [3]:
col = ['망명년도', '망명지역', '실거주지', '난민 지위', '총 보류 누적 사람 수(시작 연도 기준으로 시작)', 
           '유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)', '전쟁 난민 신청 수', '전쟁 난민 결정 수',
           '전쟁 난민 보류 수', '전쟁 난민 거부 수', '전쟁 난민 철회 수', '전쟁 난민 인원 현황',
          '총 보류 누적 사람 수(시작 연도 기준으로 종료)', '유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)']
col

['망명년도',
 '망명지역',
 '실거주지',
 '난민 지위',
 '총 보류 누적 사람 수(시작 연도 기준으로 시작)',
 '유엔난민기구 지원 사람 수(시작 연도 기준으로 시작)',
 '전쟁 난민 신청 수',
 '전쟁 난민 결정 수',
 '전쟁 난민 보류 수',
 '전쟁 난민 거부 수',
 '전쟁 난민 철회 수',
 '전쟁 난민 인원 현황',
 '총 보류 누적 사람 수(시작 연도 기준으로 종료)',
 '유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)']

In [4]:
df2 = pd.read_csv('asylum_seekers.csv',
                     header=1,
                     encoding = 'UTF8',
                     names=col
                    )
df2

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
1,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129715,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129716,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129718,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [5]:
df2['전쟁 난민 인원 현황']

0          NaN
1         1186
2          250
3          273
4          687
          ...
129714      28
129715      31
129716      94
129717    7942
129718       *
Name: 전쟁 난민 인원 현황, Length: 129719, dtype: object

In [6]:
df2 = df2.fillna(0)

In [7]:
df2 = df2.replace('*', 0)

In [9]:
df2[df2['난민 지위'].str.contains('G', na=False)]

,망명년도,망명지역,실거주지,난민 지위,총 보류 누적 사람 수(시작 연도 기준으로 시작),유엔난민기구 지원 사람 수(시작 연도 기준으로 시작),전쟁 난민 신청 수,전쟁 난민 결정 수,전쟁 난민 보류 수,전쟁 난민 거부 수,전쟁 난민 철회 수,전쟁 난민 인원 현황,총 보류 누적 사람 수(시작 연도 기준으로 종료),유엔난민기구 지원 사람 수(시작 연도 기준으로 종료)
0,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
2,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
3,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
4,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
7,2000,Tajikistan,Afghanistan,G / FI,2172,30,165,112,0,0,1992,2104,233,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129714,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129715,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129716,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129717,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129718,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [11]:
dup = df2.drop_duplicates(['난민 지위'])
len(dup)

27

In [12]:
df2[['난민 지위', '전쟁 난민 인원 현황']]

         난민 지위 전쟁 난민 인원 현황
0       G / FI           0
1       U / FI        1186
2       G / EO         250
3       G / IN         273
4       G / FI         687
...        ...         ...
129714  G / IN          28
129715  G / EO          31
129716  G / AR          94
129717  G / FI        7942
129718  G / FI           0

[129719 rows x 2 columns]

In [19]:
d = df2[['난민 지위', '전쟁 난민 인원 현황']]

In [21]:
d = d.pivot_table(index='난민 지위', aggfunc=np.sum)
d

        전쟁 난민 인원 현황
난민 지위
0               0.0
G / BL      49205.0
G / CA      35924.0
G / TR         18.0
G / ar        915.0
G / fi       4686.0
J / RA          5.0

In [16]:
d.to_csv('난민 지위별 총인원.csv', encoding='UTF-8-sig')